body {
  height: 100vh;
  margin: 0;
}

body.dark {
  color: white;
  background-color: black;
}

#controls {
  position: absolute;
  bottom: 4px;
  right: 4px;
  opacity: 1;
}

#controls > svg {
  height: 32px;
  width: 32px;
  margin: 4px;
  cursor: pointer;
}

#time {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22vw;
  font-weight: 700;
}
